HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### SEGURIDAD CRÍTICA - ORACLE CLOUD ###
# Bloquea la carpeta especifica donde la tienes ahora
src/main/resources/wallet/

# Bloquea cualquier carpeta que se llame wallet en cualquier lugar
**/wallet/

# Bloquea los archivos por extensión (Doble seguridad)
Wallet_*/
cwallet.sso
ewallet.p12
keystore.jks
*.p12
*.key
*.sso

# Ignorar archivos de pruebas HTTP (contienen tokens)
*.http
**/*.http

# Ignorar Azure
.azure/